body {
	color: #555;
	background-attachment: fixed;
	background-color: #dfcda4;
}
del {
	color: #aaa;
}
#content,
.alignright p.wp-caption-text {
	background-color: #f9f7e5;
}
#content {
	background-image: url("content_bg_top.png");
}
@media screen {
	#footer {
		font-size: 90%;
	}
}
#sidebar-opaque {
	background-color: #f9f7e5;
	background-image: url("content_bg_top.png");
}

#blog-title,
#blog-description,
#blog-title a,
#blog-description a {
	color: #444;
}


.aligncenter {
}
.alignleft {
}
