#sidebar .widget-title {
    margin: 0;
}

#sidebar .widget-title,
#sidebar a {
    font-size: 100%;
    display:   block;
}

#sidebar ul {
    padding: 0 0 0 1.5em;
    margin:  0;
}

#sidebar li {
    list-style-type: none;
    padding:         0;
    margin:          0;
}


#sidebar .widget-title,
#sidebar ul.menu > li > a,
#sidebar .menu > ul > li > a,
#sidebar .widget_pages > ul > li > a {
    padding:     0.5em;
    font-weight: normal;
}

#sidebar .menu > ul {
    padding-left:   0;
    padding-bottom: 0.5em;
}

/* Only show top-level and first-level pages in the sidebar menu */
#sidebar .menu ul ul.children ul.children {
    display: none;
}

#sidebar-transparent {
    margin-top: 1em;
}

#widget-area-belowsidebar .widget_links h3 {
    display: none;
}

#widget-area-belowsidebar {
    text-align: center;
}

#widget-area-belowsidebar li {
    list-style: none;
}

#widget-area-belowsidebar ul {
    margin:  0;
    padding: 0;
}
