div.wpcf7 {

}

div.wpcf7 input, .wpcf7 textarea {
    width: 100%;
}

div.wpcf7 input.wpcf7-submit {
    width: auto;
}

div.wpcf7-response-output {
    font-weight:   normal;
    margin:        inherit;
    padding:       inherit;
    margin-bottom: 1em;
}

div.wpcf7-mail-sent-ok {
    border:      none;
    color:       #489217;
    font-size:   125%;
    font-weight: bold;
}

span.wpcf7-not-valid-tip-no-ajax {
    font-size: 80%;
}

span.wpcf7-not-valid-tip-no-ajax,
div.wpcf7-validation-errors {
    color: #d63c1e;
}

div.wpcf7-validation-errors {
    border: none;
}

div.wpcf7-validation-errors {
    font-size: inherit;
}
