.eventdate abbr,
.enddate abbr {
    border: none;
}

#sidebar div.amrcol1 div {
    display: inline;
}

#sidebar div.amrcol1 div.summary {
    white-space: nowrap;
}

#sidebar .ical {
    padding: 0.5em;
}

#sidebar .ical > br {
    display: none;
}

#sidebar .events .widget-title {
    display: none;
}

#sidebar .events .noeventsmessage {
    color: inherit;
    font-size: 80%;
    font-weight: normal;
    padding: 0.7em;
}

#sidebar .events .noeventsmessage:hover {
    text-decoration: none;
}

#sidebar .amrical_credit,
.entry-content .icalnav {
    display: none;
}

.entry-content table.ical {
    border-collapse: collapse;
}

.entry-content .ical .group {
    font-size: 1.25em;
    font-weight: bold;
}

.ical td.amrcol1 {
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    article.event {
        margin: 0 0 1em 0
    }

    article.event span.summary {
        display: block;
    }

    article.event span.eventdate:after {
        content: " ";
    }
}

@media screen and (min-width: 768px) {
    article.event {
        margin: 0 0 0.5em 0
    }

    article.event span.summary {
        display: inline;
    }

    article.event span.eventdate {
        display: inline-block;
        min-width: 6em;
    }

    article.event span.starttime,
    article.event span.endtime {
        display: inline-block;
        min-width: 4em;
    }
}

article.event span.summary {
    white-space: nowrap;
    font-weight: bold;
}