body {
    font-family: serif;
    background-image: url("assets/bg_mobile_low.jpg");
    background-size: cover;
}

h1, h2 {
    font-family: serif;
    font-weight: bold;
}

blockquote,
q {
    font-style: italic;
    margin:     0 2em;
    padding:    0;
}

.entry-title {
    font-size: 1.5em;
}

#header #branding {
    margin: 0em 0em 1em 0em;
    font-size: 80%;
}

#wrapper, #header, #content, #footer {
    width:   100%;
    margin:  0;
    padding: 0;
}

#content-inner {
    padding: 1em;
    margin:  0;
}

#footer {
    margin: 1em 0 1em 0;
}

#header {
    margin: 1em 0 0em 0;
}

#blog-title {
    font-size: 2.6em;
}

#blog-description {
    display: none;
    /*font-size: 1.5em;*/
}

#container {
    position: relative;
    margin:   0;
    padding:  0 1em 1em 1em;
}

#notwimpy {
    display: none;
}

.entry-utility, div.comment-utilities {
    display: none;
}

img.aligncenter, img.alignright, img.alignleft {
    max-width: 100% !important;
    height:    auto;
}

body #sidebar li {
    float: left;
}

body #sidebar-after-menu {
    display: block;
    clear:   both;
}

body #sidebar div.ical span.eventdate br {
    display: none;
}

body #sidebar ul {
    list-style-type: none;
    height:          2em;
}

body #sidebar .menu {
    font-size: 1.1em;
}

body #sidebar {
    margin-bottom: 1em;
}

body #sidebar .menu ul.children,
body #sidebar #sidebar-transparent,
body #sidebar .widget_links {
    display: none;
}
body #header {
    text-align: center;
}

/* style-amricaleventslist-customizations.css */

article.event {
    margin: 0 0 1em 0
}

article.event span.summary {
    display: block;
}

article.event span.eventdate:after {
    content: " ";
}
