/*****************************************************************
 * mail form
 *****************************************************************/

 form dl, dl.labels {
    margin: 0em;
    font-size: 100%;
    margin-top: 0.5em
}

form dt, dl.labels dt {
    float: left;

    width: 7em;
    margin-bottom: 0.8em;
    /* color:         #555; */
    text-align:    right;
    font-weight:   normal;
    position:      relative /*IEWin hack*/
}

form dd, dl.labels dd {
    margin-left: 7.5em;
    margin-bottom: 0.8em;
    font-size: 100%;
    font-style: normal;
    padding-left: 0.5em
}

form dd.submit, dl.labels dd.submit {
    margin-top: 2em
}

div.entry-content div form dl dd br {
    display: none;
}

/*****************************************************************
 * contactform 7
 *****************************************************************/

 div.wpcf7 {

}

span.wpcf7-form-control-wrap {
    position: inherit !important;
}

div.wpcf7 input, .wpcf7 textarea {
    width: 100%;
    font-family: Swift, Georgia, Times, serif;
    padding: 0.5em;
}

div.wpcf7 input[type=submit] {
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(139, 59, 141, 1);
    padding: 0.8em 1em 0.7em 1em;
    border: none;
}

div.wpcf7 input.wpcf7-submit {
    width: auto;
}

div.wpcf7-response-output {
    font-weight: normal;

    margin: 1em 0em 3em 0em !important;
	padding: 0 !important;
	border: none !important;
}

span.wpcf7-not-valid-tip,
span.wpcf7-not-valid-tip-no-ajax {
    font-size: 80% !important;
}

span.wpcf7-not-valid-tip,
span.wpcf7-not-valid-tip-no-ajax,
div.wpcf7-validation-errors {
    color: rgba(160, 39, 39, 1) !important
}

div.wpcf7-validation-errors {
    border: none;
}

div.wpcf7-validation-errors {
    font-size: inherit;
}

/*****************************************************************
 * wp survey and quiz tool
 *****************************************************************/

 form .wpst_question {
    border-top: 1px solid #c4c0af;
    margin-top: 1em;
    padding-top: 1em;
}

form .wpst_question textarea {
    width: 100%;
    height: 15em;
}

form .wpst_question p {
    font-size: 80%;
}

ul.wpsqt_multiple_question {
    list-style-type: none;
    padding: 0;
}

form .wpst_question span.wpsqt_likert_answer {
    display: block;
}

form .wpst_question br {
    display: none;
}

/*****************************************************************
 * amr ical events list
 *****************************************************************/

 .eventdate abbr,
 .enddate abbr {
     border: none;
 }
 
 #site-menu > div.site-menu-container div.amrcol1 div {
     display: inline;
 }
 
 #site-menu > div.site-menu-container div.amrcol1 div.summary {
     white-space: nowrap;
 }
 
 #site-menu > div.site-menu-container .ical {
     padding: 0.5em;
 }
 
 #site-menu > div.site-menu-container .ical > br {
     display: none;
 }
 
 #site-menu > div.site-menu-container .events .widget-title {
     display: none;
 }
 
 #site-menu > div.site-menu-container .events .noeventsmessage {
     color: inherit;
     font-size: 80%;
     font-weight: normal;
     padding: 0.7em;
 }
 
 #site-menu > div.site-menu-container .events .noeventsmessage:hover {
     text-decoration: none;
 }
 
 #site-menu > div.site-menu-container .amrical_credit,
 .entry-content .icalnav {
     display: none;
 }
 
 .entry-content table.ical {
     border-collapse: collapse;
 }
 
 .entry-content .ical .group {
     font-size: 1.25em;
     font-weight: bold;
     text-transform: capitalize;
 }
 
 .ical td.amrcol1 {
     white-space: nowrap;
 }
 
 article.event span.summary {
     white-space: nowrap;
     font-weight: bold;
 }
 
 /* Desktop */
 @media screen and (min-width: 768px) and (min-height: 450px) {
    article.event {
        margin: 0 0 0.5em 0
    }

    article.event span.summary {
        display: inline;
    }

    article.event span.eventdate {
        display: inline-block;
        min-width: 6em;
    }

    article.event span.starttime,
    article.event span.endtime {
        display: inline-block;
    }
    article.event span.starttime {
        min-width: 3em;
    }
    article.event span.endtime {
        min-width: 4em;
    }
}

/* Mobile */
@media screen and (max-width: 767px), screen and (max-height: 449px) {
    body #site-menu div.ical span.eventdate br {
        display: none;
    }
    
    article.event {
        margin: 0 0 1em 0
    }

    article.event span.summary {
        display: block;
    }

    article.event span.eventdate:after {
        content: " ";
    }
}

