#sidebar .widget-title {
    margin: 0;
}

#sidebar .widget-title,
#sidebar a {
    /*font-family: sans-serif;*/
    /*font-size: 10pt;*/
    font-size: 105%;
    display:   block;
}

#sidebar ul {
    padding: 0 0 0 1.5em;
    margin:  0;
}

#sidebar li {
    list-style-type: none;
    padding:         0;
    margin:          0;
}

body.client-mobile #sidebar li {
    float: left;
}

body.client-mobile #sidebar-after-menu {
    display: block;
    clear:   both;
}

body.client-mobile #sidebar div.ical span.eventdate br {
    display: none;
}

body.client-mobile #sidebar ul {
    list-style-type: none;
    height:          2em;
}

body.client-desktop #sidebar .menu {
    font-size: 12pt;
}

body.client-mobile #sidebar .menu {
    font-size: 1.1em;
}

body.client-desktop #sidebar .menu ul.children,
body.client-desktop #sidebar .widget_links {
    font-size: 10pt;
}

body.client-mobile #sidebar .menu ul.children,
body.client-mobile #sidebar .widget_links {
    font-size: 0.9em;
}

#sidebar .widget-title,
#sidebar ul.menu > li > a,
#sidebar .menu > ul > li > a,
#sidebar .widget_pages > ul > li > a {
    padding:     0.5em;
    font-weight: normal;
}

#sidebar .menu > ul {
    padding-left:   0;
    padding-bottom: 0.5em;
}

#sidebar div.widget-container > ul,
#sidebar ul.menu > li > ul,
#sidebar .menu > ul > li > ul,
#sidebar .widget_pages > ul > li > ul {
    /*padding-top: 0.5em;*/
}

#sidebar div.widget-container,
#sidebar ul.menu > li,
#sidebar .menu > ul > li,
#sidebar .widget_pages > ul > li {
    /*margin-bottom: 0.5em;*/
}

/* Only show top-level and first-level pages in the sidebar menu */
#sidebar .menu ul ul.children ul.children {
    display: none;
}

#sidebar-transparent {
    margin-top: 1em;
}

#widget-area-belowsidebar .widget_links h3 {
    display: none;
}

#widget-area-belowsidebar {
    text-align: center;
}

#widget-area-belowsidebar li {
    list-style: none;
}

#widget-area-belowsidebar ul {
    margin:  0;
    padding: 0;
}
