.eventdate abbr,
.enddate abbr {
    border: none;
}

#sidebar div.amrcol1 div {
    display: inline;
}

#sidebar div.amrcol1 div.summary {
    white-space: nowrap;
}

#sidebar .ical {
    padding: 0.5em;
}

#sidebar .ical > br {
    display: none;
}

#sidebar .events .widget-title {
    display: none;
}

#sidebar .amrical_credit,
.entry-content .icalnav {
    display: none;
}

.entry-content table.ical {
    border-collapse: collapse;
}

.entry-content .ical .group {
    font-size:   1.25em;
    font-weight: bold;
}

.entry-content .ical .eventdate,
.entry-content .ical .starttime,
.entry-content .ical .enddate,
.entry-content .ical .endtime {
    display: inline;
}

.ical td.amrcol1 {
    white-space: nowrap;
}
