.entry-content,
.entry-utility,
.post {
    clear: both;
}

.aligncenter {
    margin:  0 auto;
    display: block;
}

.alignright {
    float:               right;
    padding:             10px;
    background-position: top right;
}

@media print {
    .alignright {
        margin: 0;
    }
}

@media screen {
    body.client-desktop .alignright {
        margin: 0 -120px 0 1em;
    }
}

.alignleft {
    float:  left;
    margin: 0 1em 0 0;
}

.entry-content p.wp-caption-text {
    margin:     0;
    padding:    0.3em;
    text-align: center;
    font-size:  75%;
}

.alignright p.wp-caption-text,
.alignleft p.wp-caption-text {
    padding: 0.1em;
}

.aligncenter p.wp-caption-text {
    text-align: center;
}

.alignright p.wp-caption-text {
    text-align: right;
}

.alignleft p.wp-caption-text {
    text-align: left;
}

div.wp-caption img {
    display: block;
    height: auto;
}

div.wp-caption,
div.wp-caption img {
    max-width: 500px;
}

div.wp-caption.aligncenter img {
    padding: 0 5px;
}

div.wp-caption.alignright img {
    padding: 0 0 0 10px;
}

div.wp-caption.alignleft img {
    padding: 0 10px 0 0;
}
