body {
	color: #555;
	background-attachment: fixed;
	background-color: #dfcda4;
}
del {
	color: #aaa;
}
#content,
.alignright p.wp-caption-text {
	background-color: #f9f7e5;
}
#content {
	background-image: url("content_bg_top.png");
}
@media screen {
	#footer {
		color: #777;
	}
}
#sidebar-opaque {
	background-color: #f9f7e5;
	background-image: url("content_bg_top.png");
}

#sidebar-opaque .widget-title,
#sidebar-opaque ul.menu > li > a,
#sidebar-opaque .menu > ul > li > a,
#sidebar-opaque .widget_pages > ul > li > a {
	/*background-color: #e9e4d0;*/
}

#blog-title,
#blog-description,
#blog-title a,
#blog-description a {
	color: #444;
}


.aligncenter {
}
.alignleft {
}
.button-icon {
	background-image: url("buttons.gif");
}
